.container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.min_height {
    min-height: 75%;
    background-color: #FFECD2;
}

.center {
    justify-content: center;
}

.colum {
    flex-direction: column;
    justify-content: flex-start;
}